*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/vcs.xml
/app/src/main/java/com/mossige/finseth/follo/inf219_mitt_uib/network/PrivateConstants.java